.DS_Store

abc/*.abc
abc/*.pdf
abc/*.eps
abc/*.ps

buildAbc.aux
buildAbc.log
buildAbc.pdf
buildAbc.synctex.gz

cheatsheet.log
cheatsheet.aux
cheatsheet.pdf
cheatsheet.synctex.gz


tmp001.eps
tmpfin.eps

sty/auto
sty/chords.log
